@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@400;500;600&display=swap');
.dragging{
  user-select: none;
}
.spotify-component{
  --spotify-alpha: 0.95;
  --background-tertiary: rgba(40,40,40, var(--spotify-alpha));
  --background-primary: rgba(0,0,0, var(--spotify-alpha));
  --background-tooltip: #71DBDB;
  --primary: #71DBDB;
  --spotify-width: 400px;
  --spotify-height: 88px;
  --spotify-min-width: 200px;
  --spotify-min-height: 32px;
  --top-margin: 45px;
  width: var(--spotify-width);
  height: var(--spotify-height);
  margin-top: var(--top-margin);
  display: flex;
  align-items: center;
  //pretty styles
  transition: height 0.5s, margin 0.5s, width 0.5s;  
  background: var(--background-tertiary);
  color: white;
  border-radius: 4px;
  overflow: hidden; //prevents square image from overflowing
  box-shadow: 0px 10px 10px 0px rgba(black, calc(0.3 * var(--spotify-alpha)));
  >.controls{
    pointer-events: none;
    transition: filter 0.5s;
    filter: opacity(1);
    align-self: flex-start;
    width: inherit;
    text-align: right;
    position: absolute;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    >div{
      pointer-events: all;
      cursor: pointer;
      padding: 5px 10px 0px 5px;
      display: inline-block;
    }
    white-space: nowrap;
    // background: blue;
  }
  >.album-art{
    pointer-events: none;
    height: inherit;
  }
  >.song-info{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    >.artist-title-container{
      font-family: 'Poppins', sans-serif;
      padding-top: 6px;
      height: 100%;
      width: calc(var(--spotify-width) - var(--spotify-height) - 75px);
      transition: width 0.5s;
      >.song-title{
        transition: line-height 0.5s, margin 0.5s;
        line-height: 24px;
        font-size: 16px;
        font-weight: 600;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        >a{
          color: white;
          text-decoration: none;
          &:hover{
            text-decoration: underline;
          }
        }
      }
      >.artist-name{
        
        transition: padding 0.5s;
        padding-top: 1px;
        font-size: 14px;
        font-weight: 400;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        
        >p{
          display: inline;
          &:after {
            content: ", ";
          }
          &:last-child:after {
            content: "";
          }
          >a{
            color: white;
            text-decoration: none;
            &:hover{
              text-decoration: underline;
            }
          }
        }
      }
    }
    >.progress-text-container{
      font-family: 'Inter', sans-serif;
      font-weight: 400;
      font-size: 10px;
      display: flex;
      padding-bottom: 5px;
      margin-right: 16px;
      >.progress{
        text-align: left;
        width: 100%;
      }
      >.length{
        text-align: right;
        width: 100%;
      }
    }
    >.progress-bar-outer{
      flex-shrink: 0;
      background: rgba(255, 255, 255, 0.2);
      height: 4px;
      border-radius: 10px;
      margin-right: 16px;
      margin-bottom: 9px;
      >.progress-bar-inner{
        border-radius: inherit;
        height: 100%;
        background: var(--primary);
        //transition: width 0.1s linear;
        width: min(var(--song-position), 100%);
      }
    }
  }
}
.spotify-component.collapsed{
  margin-top: calc(var(--top-margin) + var(--spotify-height) - var(--spotify-min-height));
  width: var(--spotify-min-width);
  height: var(--spotify-min-height);
  >.controls{
    filter: opacity(0);
    pointer-events: none;
    >div{
      pointer-events: none;
    }
  }
  >.album-art{
    height: inherit;
  }
  >.song-info{
    >.artist-title-container{
      width: calc(var(--spotify-min-width) - var(--spotify-min-height) - 20px);
      >.song-title{
        pointer-events: none;
        line-height: 20px;
        margin-left: -7px;
      }
      >.artist-name{
        pointer-events: none;
        padding-left: 250px;
      }
    }
  }
}

.tooltip{
  &:before{
    content: "";
    transition: transform 0.25s, filter 0.25s;
    transform: translateY(-14.1px) translateX(-5px);
    filter: opacity(0);
  }
  &:after{
    content: "";
    transition: transform 0.25s, filter 0.25s;
    transform: translateY(-67px) translateX(-86.6%);
    filter: opacity(0);
  }
  &:hover:before{
    content: "";
    display: block;
    position: absolute;
    //top: -12%;
    transform: translateY(-10px) translateX(-6px);
    z-index: 99;
    filter: opacity(1.0);
    //triangle
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid black;
  }
  &:hover:after{
    font-size: 14px;
    display: block;
    content: attr(data-hover-text);
    filter: opacity(1.0);
    background: black;
    position: absolute;
    padding: 4px;
    border-radius: 4px;
    padding: 9.5px 10px 9.5px 10px;
  }
  &.help:hover:after{
    transform: translateY(-63px) translateX(-86.6%);
  }
  &.minimize:hover:after{
    transform: translateY(-63px) translateX(-90%);
  }
}